<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conversão de moedas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Descubra o valor da sua moeda em instantes!</h1>

    <div class="center-input">
      <ion-input placeholder="Insira um valor"></ion-input>
    </div>

  <ion-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button>Converter para Dólar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button>Converter para Euro</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button>Converter para Líbra</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button>Converter para Peso</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
  </ion-content>


<!-- <ion-button>Converter para Dólar</ion-button>
  <ion-button>Converter para Euro</ion-button>
  <ion-button>Converter para Líbra</ion-button>
  <ion-button>Converter para Peso</ion-button> -->
